*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    .main_txt{
        font-size: 35px;
        text-align: center;
        margin-top: 30px;
    }

    .catalog{
        display: flex;
        justify-content: center;
        margin-top: 70px;

        .card{
            width: 280px;
            height: 500px;
            border-left: 1px solid gray;
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
            text-align: center;

            &:last-child{
                border-right: 1px solid gray;
            }

            hr{
                width: 240px;
                margin-left: 20px;
            }

            .category{
                height: 60px;
                font-size: 23px;
                color: gray;
                align-items: center;
                margin-top: 30px;
            }

            img{
                width: 240px;
            }

            .buy_btn{
                width: 170px;
                height: 40px;
                border: none;
                background: #dede41;
                border-radius: 10px;
                font-size: 15px;  
                transition: 0.3s;
                margin-top: 70px;

                &:hover{
                    background: #666535; 
                    color: white;
                }
            }

            .first{
                background: #e19823;
                color: white;

                &:hover{
                    background: #d85e25;
                    color: white;
                }
            }

            .btnmt{
                margin-top: 50px;
            }

            .name{
                font-size: 20px;
            }

            .price{
                font-size: 20px;
                font-weight: 800;
            }
        }
    }
}

.new{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background: #e84444;
    color: #fffbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 105px;
    left: 280px;
    outline: 5px solid white;
}

.hit{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background: #cf8851;
    color: #fffbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 105px;
    left: 560px;
    outline: 5px solid white;
}

.hit_2{
    left: 1120px;
}